
@model IEnumerable<HC_assessment.Models.Person>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Welcome</h2>

<h3>
    <label style="display:inline-block;font-size:25px">To create a new record, click </label>
    @Html.ActionLink("Create", "Create")
</h3>

